* {
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    background-color: #EDE7D9;
}
li {
    margin-left: 10px;
}
.hab1 {
    background-color: #D5A021;
}
/* .hab2 {
    font-size: 20px;
} */
.hab3 {
    background-color: #D5A021;
}
/* .hab4 {
    font-size: 40px;
} */
#lista-hab {
    font-family: monospace;
}
h1 {
    color: #D5A021;
    text-align: center;
}
h2, h3 {
    color: #736B60;
    margin-left: 10px;
}
a {
    margin-left: 10px;
}

#foto {
    padding: 10px;
    margin-left: 10px;
    background-color: #4B4237;
    border-radius: 100%;
}
#minha_foto {
    border-radius: 100%;
}
.textos {
    padding: 10px;
} 
.bloco_identidade {
    display: flex;
    align-items: center;
}